/*
   TEXT UNDERLINE
*/

.tup-auto { text-underline-position: auto; }
.tup-u {    text-underline-position: under; }
.tup-l {    text-underline-position: left; }
.tup-r {    text-underline-position: right; }
.tup-ul {   text-underline-position: under left; }
.tup-ru {   text-underline-position: right under; }
.tup-i {    text-underline-position: inherit; }

@media screen and (min-width: 32em) {
  .tup-auto-s { text-underline-position: auto; }
  .tup-u-s    { text-underline-position: under; }
  .tup-l-s    { text-underline-position: left; }
  .tup-r-s    { text-underline-position: right; }
  .tup-ul-s   { text-underline-position: under left; }
  .tup-ru-s   { text-underline-position: right under; }
  .tup-i-s    { text-underline-position: inherit; }
}

@media screen and (min-width:48em) {
  .tup-auto-m { text-underline-position: auto; }
  .tup-u-m    { text-underline-position: under; }
  .tup-l-m    { text-underline-position: left; }
  .tup-r-m    { text-underline-position: right; }
  .tup-ul-m   { text-underline-position: under left; }
  .tup-ru-m   { text-underline-position: right under; }
  .tup-i-m    { text-underline-position: inherit; }
}

@media screen and (min-width: 96em) {
  .tup-auto-l { text-underline-position: auto; }
  .tup-u-l    { text-underline-position: under; }
  .tup-l-l    { text-underline-position: left; }
  .tup-r-l    { text-underline-position: right; }
  .tup-ul-l   { text-underline-position: under left; }
  .tup-ru-l   { text-underline-position: right under; }
  .tup-i-l    { text-underline-position: inherit; }
}

